
:root{
    --black:     #151515;
    --green:     #4EE1A0;
    --dark-gray: #d9d9d9;
    --gray:      #d9d9d9;
    --white:     #FFFFFF;


    --heading-xl: 5.5rem;
    --heading-l: 3rem;
    --heading-m: 1.5rem;
    --body-txt: 1.125rem;
}



@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: "Space Grotesk", sans-serif;
}